# Environment files
.env
.env.local
.env.*

# IDE/editor files
*.swp
*.swo
*.bak
*.tmp
*.orig

# Ignore actual runtime data
raw/*
meta/*
upload/*

# Allow folders to exist
!raw/.gitkeep
!meta/.gitkeep
!upload/.gitkeep


# macOS system files
.DS_Store

# Composer dependencies
/vendor/


version.php